<% if (success && success.length) { %>

  <div class="d-flex justify-content-end align-self-center">
  <div class="alert alert-success alert-dismissible fade show col-4 mt-2" role="alert">
    <%= success %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
  <% } %>