<footer>
    <div class="info">
        <div class="info-social">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="info-brand"> &copy; Wanderlust Privated Limited</div>
        <div class="info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>