<% layout('/layouts/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/css/style.css">

    <div class="row">
        <div class="col-7 offset-3 xyz">
            <div class="error-container">
                <img src="https://st.depositphotos.com/1006899/2650/i/380/depositphotos_26505551-stock-photo-error-metaphor.jpg"
                    alt="Error Cat" class="error-image">
                <div class="error-message">
                    <p><b>
                            <%= status %>
                        </b> Oops! Check this out </p>
                    <p>
                        <%= message %>
                    </p>
                </div>
            </div>
        </div>
    </div>