<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form action="/listing/create" method="post">

        <label for="title">Title</label><br>
        <input type="text" name="list[title]" required><br>

        <label for="description">Description</label><br>
        <textarea name="list[description]"  cols="10" rows="5"></textarea><br>

        <label for="image">Image</label><br>
        <input type="text" inputmode="url" name="list[image][url]"placeholder="url" ><br>

        <label for="price">Price</label><br>
            <input type="number" inputmode="numeric" name="list[price]" placeholder="price" ><br>

            <label for="location">Location</label><br>
                <input type="text" name="list[location]"placeholder="location" ><br>

                <label for="Country">Country</label><br>
                    <input type="text" name="list[country]"placeholder="country" ><br>
        <br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>