<% layout('/layouts/boilerplate.ejs') -%>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h2>All Lists</h2>
    <!-- <form action="/listing/new" method="get">
        <button>New List</button>
    </form> -->
    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
        <% for( let list of lists ) { %>
    <a href="/listing/<%= list._id %>" class="list-link">
        <div class="col">
          <div class="card">
            <img src="<%= list.image.url%>" class="card-img-top"style="height:20rem" alt="Listing-Card_Image">
          <div class="card-img-overlay"></div>
            <div class="card-body">
              <h5 class="card-title"><%= list.title %></h5>
              <p class="card-text"> &#8377 <%= list.price.toLocaleString("en-IN") %>/night</p>
            </div>
          </div>
        </div>
    </a>
        <% } %>
    
  </div>
     
</body>

