<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Lists</title>
</head>
<body>
    <h2>All Lists</h2>
    <form action="/listing/new" method="get">
        <button>New List</button>
    </form>
    <ul>
    <% for( let list of lists ) { %>
        <li>
           <a href="/listing/<%- list._id %>"><%= list.title %></a> 
    </li>
    <% } %>
</ul>
</body>
</html>
