<% layout('/layouts/boilerplate.ejs') -%>
<link rel="stylesheet" href="/css/style.css">
<body>
    <h2>All Lists</h2>
    <!-- <form action="/listing/new" method="get">
        <button>New List</button>
    </form> -->
    <ul>
    <% for( let list of lists ) { %>
        <li>
           <a href="/listing/<%- list._id %>"><%= list.title %></a> 
    </li>
    <% } %>
</ul>
</body>

