body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}
.navbar{
    height: 4rem;
} 
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #1b0909 !important;
}
.logout{
    text-decoration: none !important;
}
.logout:hover{
    color: #fff !important;
}
.info-links , .info-social, .info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-social i{
    margin-right: 1rem;
    font-size: 1.5rem;
}
.info-links a{
    color: #222222;
    text-decoration: none;
}
.info-links a:hover{
    text-decoration: underline;
} 

.info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #dad6d6be;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
} 

/* card  */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.list-link,.card-title,.card-text{
    text-decoration: none !important;
}
.card-title,.card-text{
    color: rgb(46, 43, 43) !important;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.3;
    background-color: white;
}
.img-fluid{
    height: 40vh !important;
}

/* Map-Style */
#map { 
   height: 60vh;
   width: 1200px;
   max-width: 1200px;
    }
 .mapboxgl-popup {
        max-width: 200px;
    }
    #menu {
        position: relative;
        background: #efefef;
        padding: 10px;
        font-family: 'Open Sans', sans-serif;
}
/* index.ejs */
.filter {
    margin-right: 2rem;
    opacity: 0.7;
  }

  .filter:hover {
    opacity: 2;
    cursor: pointer;
    transition: margin 0.2s ease-in-out;
    margin-top: -5px;
    color: rgb(0, 0, 0);
  }

  .search-link {
    text-decoration: none;
    color: black;
  }

  .rating-info {
    display: none;
  }
  
/* Error.ejs */
  .error-container {
    text-align: center;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
}

.error-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.error-message {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.xyz {
    margin-top: 25px;
}

@media (max-width: 600px) {
    .error-container {
        margin: 10px;
    }
}
.ht:hover{
    margin-top: -2px;
}