<% layout('/layouts/boilerplate.ejs') -%>
  <link rel="stylesheet" href="/css/style.css">

  <div class="row d-flex flex-sm-wrap justify-content-center align-items-center mt-5">
    <div class=" col-6 shadow-lg mb-3 rounded p-3 d-flex justify-content-around align-items-center mt-3">
      <!-- img -->

      <img class=" img-fluid col-6"
        src="../../images/loginImage.svg"
        alt="Login-img">

      <!-- form -->
      <div class="mx-2 col-6 d-flex flex-sm-wrap flex-column justify-content-between">
        <h2 class="h2 text-secondary">Login with Your Credential</h2>
        <form action="/login" method="post" class="needs-validation" novalidate>

          <div class="form-floating mt-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="Your name" name="username" required>
            <label for="floatingInput">Username</label>
            <div class="invalid-feedback">Username is required!</div>
          </div>

          <div class="form-floating mt-3">
            <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="abc@123"
              required>
            <label for="floatingPassword">Password</label>
            <div class="invalid-feedback">Password must be there!</div>
          </div>

          <div class="d-grid gap-2 mt-3 col-6 mx-auto">
            <input type="submit" value="Login" class="btn btn-success" />
          </div>
          <p class="card-text mt-3 text-center">Don't have an account <a class="list-link" href="/signup">Sign-Up</a></p>
        </form>
      </div>

    </div>
  </div>