<% layout('/layouts/boilerplate.ejs') -%>

<div class="row mx-auto mt-5 mb-2">
    
    <div class="col-6 offset-3 border border-2 p-5">
      <h2 class="h2 mb-4 text-secondary d-flex justify-content-center">Login to Your account</h2>
        <form action="/login" method="post" class="needs-validation" novalidate>

            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingInput" placeholder="Your name" name="username" required>
                <label for="floatingInput">Username</label>
                <div class="invalid-feedback">Username is required!</div>
              </div>
            
              <div class="form-floating mb-5">
                <input type="password" class="form-control" id="floatingPassword" name="password"  placeholder="abc@123"required>
                <label for="floatingPassword">Password</label>
                <div class="invalid-feedback">Password must be there!</div>
              </div>

              <div class="d-grid gap-2 col-6 mx-auto">
                <input type="submit" value="Login" class="btn btn-success" />
              </div>

        </form>
    </div>
</div>