<% layout('/layouts/boilerplate.ejs') -%>
<link rel="stylesheet" href="/css/style.css">


<div class="row d-flex flex-wrap justify-content-center align-items-center mt-5">
  <div class=" col-8 shadow-lg mb-3 rounded p-3 d-flex flex-row-reverse justify-content-around align-items-center mt-3">
    <!-- img -->

    <img class="col-6 img-fluid"
      src="../../images/signUpImage.svg"
      alt="SignUp-img">

    <!-- form -->
    <div class="col-6 d-flex flex-column justify-content-between flex-wrap">
      <h2 class="h2 mb-4 text-secondary d-flex justify-content-center">Sign-Up for Wanderlust</h2>
      <form action="/signup" method="post" class="needs-validation" novalidate>

          <div class="form-floating mb-4">
              <input type="text" class="form-control" id="floatingInput" placeholder="Your name" name="username" required>
              <label for="floatingInput">Username</label>
              <div class="invalid-feedback">Username is required!</div>
              <div class="valid-feedback">Looks good!</div>
            </div>
          <div class="form-floating mb-4">
              <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" required>
              <label for="floatingInput">Email address</label>
              <div class="invalid-feedback">Please enter valid email-address!</div>
              <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" name="password"  placeholder="abc@123"required>
              <label for="floatingPassword">Password</label>
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Password must be there!</div>
            </div>

            <div class="d-grid gap-2 mt-3 col-6 mx-auto">
              <input type="submit" value="Sign-Up" class="btn btn-success" />
            </div>
            <p class="card-text mt-3 text-center">Already have an account <a class="list-link" href="/login">Login</a></p>
      </form>
    </div>

  </div>
</div>